/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1280px) {
	.container , .image-wrapper, #bimbits-slider .slide, #bimbits-slider img{
		width: 1280px;
	}
	#main-menu-button{
		display: none;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 1279px){
	.container , .image-wrapper, #bimbits-slider .slide, #bimbits-slider img{
		width: 1024px;
		overflow: hidden;
	}
	.text-wrapper p.large-t {
		font-size: 40pt;
	}
	.text-wrapper p.small-t {
		font-size: 15pt;
	}
	nav.footer-menu ul {
		padding-right: 0;
		height: 90px;
	}
	nav.footer-menu ul li {
		width: 190px;
		height: 90px;
	}
	nav.footer-menu ul li a {
		padding-top: 20px;
		padding-left: 40px;
	}
	.text-wrapper {
		padding-top: 60px;
		padding-left: 100px;
	}
	.slider-bar {
		width: 200px;
		padding-top: 10px;
	}
	#main-menu-button{
		display: none;
	}
	.row form {
		margin-right: auto;
		margin-left: auto;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 1023px) {
	.container, .image-wrapper, #bimbits-slider .slide, #bimbits-slider img {
		width: 767px;
		overflow: hidden;
	}
	.slider-bar {
		width: 200px;
		padding-top: 10px;
	}
	.text-wrapper {
		padding: 10px 0 0 ;
		left: 0;
		right: 0;

		text-align: center;
	}
	.competitions {
		text-align: center;
		padding-left: 0;
		padding-right: 0;
		margin: 0 auto;
	}
	.text-wrapper p.small-t {
		font-size: 13pt;
	}
	#main-menu-button {
		display: block;
		width: 100%;
		background-repeat: no-repeat;
	}
	#menu-list, .left-section {
		display: none;
	}
	.slider-nav-button {
		height: 20px;
		width: 20px;
	}
	nav.footer-menu ul {
		height: 100%;
	}
	nav.footer-menu ul li {
		width: 100%;
		height: 90px;
		padding: 0;
	}
	nav.footer-menu ul li a {
		text-align: center;
		padding: 0;
		background-position: center center;
		background-origin: content-box;
	}
	nav#ul-opened {
		background-color: #fff;
		display: block;
	}
	#ul-opened {
		text-align: center;
		padding: 0;
		margin: 0;
		list-style-type: none;
	}
	#ul-opened li {
		width: 100%;
		padding: 0;
	}
	#ul-opened li .active {
		background-color: #3c4148;
		color: #fff;
	}
	#ul-opened li a{
		width: 100%;
	}
	#ul-opened a:hover{
		background-color: #f29700;
		color: #fff;
		transition: .4s;
	}

}

/* Small Devices, Phones */

@media only screen and (max-width : 768px) {
	#main-menu-button{
		display: block;
		border: 0;
	}
	.container , #bimbits-slider, #bimbits-slider img, #bimbits-slider .slide , #active-slide, .image-wrapper {
		width: 100%;
		height: 100%;
		padding: 0;
		margin: 0;
	}
	.text-wrapper {
		left: 0;
		right: 0;
	}
	.text-wrapper p.large-t {
		font-size: 30pt;
	}
	.text-wrapper p.small-t {
		display: none;
	}
	.slider-bar {
		padding-top: 10px;
	}
	.slider-nav-button {
		border-width: 1px;
		background-color: rgba(0,0,0,0.3);
		border-color: #fff;
		padding: 0;
		height: 25px;
		width: 25px;
		margin-right: 10px;
	}

	/*.........................*/

}
@media only screen and (max-width : 480px) {
	.slider-bar {
		width: 180px;
		padding-top: 5px;
	}
	.slider-nav-button {
		padding: 0;
		margin: 0;
		height: 30px;
		width: 30px;
	}
	.text-wrapper {
		left: 0;
		right: 0;
	}
	.text-wrapper p.large-t {
		font-size: 30pt;
	}
	.text-wrapper p.small-t {
		display: none;
	}
}