/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1280px) {
	.container {
		width: 1280px;
	}
	#main_menu_button{
		display: none;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 1279px){
	.container {
		width: 1024px;
	}
	.text_wrapper > p.large_t {
		font-size: 40pt;
	}
	.text_wrapper> p.small_t {
		font-size: 15pt;
	}
	nav.footer_menu ul li {
		width: 190px;
		height: 90px;
	}
	nav.footer_menu ul li a {
		padding-top: 20px;
		padding-left: 40px;
	}
	.slider_bar {
		padding-top: 60px;
	}
	#main_menu_button{
		display: none;
	}
	.row form {
		margin-right: auto;
		margin-left: auto;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 1023px) {
	.container {
		width: 767px;
	}
	.slider_bar {
		width: 200px;
		padding-top: 100px;
	}
	.text_wrapper {
		padding-top: 30px;
		padding-left: 30px;
	}
	.text_wrapper p.small_t {
		font-size: 13pt;
	}
	#main_menu_button {
		display: block;
	}
	.menu_list, .left_section {
		display: none;
	}
	.slider_nav_button {
		height: 20px;
		width: 20px;
	}
	nav.footer_menu ul li {
		width: 100%;
		height: 90px;
		padding: 0px;
	}
	nav.footer_menu ul li a {
		text-align: center;
		padding: 0px;
		background-position: center center;
		background-origin: content-box;
	}

}

/* Small Devices, Phones */
@media only screen and (max-width : 768px) {
	#main_menu_button{
		display: block;
		border: 0px;
	}
	.container {
		width: 100%;
		padding: 0px;
		margin: 0px;
	}
	.text_wrapper {
		padding-top: 30px;
		padding-left: 20px;
	}
	.text_wrapper > p.large_t {
		font-size: 30pt;
	}
	.slider_bar {
		width: 200px;
		padding-top: 60px;
	}
	.slider_nav_button {
		border-width: 1px;
		background-color: rgba(0,0,0,0.3);
		border-color: #fff;
		padding: 0px;
		height: 25px;
		width: 25px;
		margin-right: 10px;
	}
	nav.ul_opened {
		background-color: #fff;
		display: block;
	}
	.ul_opened {
		text-align: center;
		padding: 0px;
		margin: 0px;
		list-style-type: none;
	}
	.ul_opened li {
		width: 100%;
		padding: 0px;
	}
	.ul_opened li .active {
		background-color: #3c4148;
		color: #fff;
	}
	.ul_opened a:hover{
		background-color: #f29700;
		color: #fff;
		transition: 0.4s;
	}
	/*.........................*/

}
@media only screen and (max-width : 480px) {
	.slider_bar {
		width: 180px;
		padding-top: 20px;
	}
	.slider_nav_button {
		padding: 0px;
		margin: 0px;
		height: 30px;
		width: 30px;
	}
	.text_wrapper > p.large_t {
		font-size: 25pt;
	}
	.text_wrapper p.small_t {
		font-size: 12pt;
	}
	.text_wrapper {
		text-align: center;
	}
	.competitions {
		margin: 0 auto;
	}
}