*.log
*.txt
*.sql
*.cfg
*.pdf
*.zip
*.psd

/bitrix/php_interface/dbconn.php
/bitrix/.settings.php

*cache*/
/bitrix/managed_cache/
/bitrix/cache_image/
/bitrix/backup/
/bitrix/otp/
/bitrix/html_pages/
/bitrix/stack_cache/
/bitrix/tmp/
/bitrix/updates/

/upload/

/.idea/