*.log
*.txt
*.sql

/.idea/

/video/

/bitrix/cache/
/bitrix/managed_cache/
/bitrix/cache_image/
/bitrix/backup/
/bitrix/php_interface/
/bitrix/html_pages/

/upload/resize_cache/
/upload/tmp/

/bitrix/.settings.php